.container {
  display: flex;
}

.backgroundContainer {
  width: 70%;
  height: 43.1rem;
  background-color: #F6C620;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 3rem;
}

.formsLogin {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1 px solid;
  background-color: #fff;
  align-items: center;
  justify-content: space-evenly;
}

.inputDiv{
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.input::placeholder{
  padding: 2%;
}

.textInput {
  width: 25rem;
  height: 2.7rem;
  background-color: #d9d9d9;
  border-radius: 0.7rem;
  border: 0px;
  margin-top: 3%;
}

.textInput::placeholder{
  padding: 5%;
  font-size: 1rem;
}

.button {
  width: 100%;
  height: 2.5rem;
  border-radius: 2rem;
  border: 0px;
  font-size: 1rem;
  font-weight: bold;
  background-color: black;
  color: #fff;
  margin-top: 5%;
}

.button:hover{
  background-color: #F6C620;
  color: black;
}

.register{
  display: flex;
  align-items: center;
}

.link{
  font-size: 1rem;
  color: black;
}

.error{
  font-size: 0.7em;
  color: red;
  margin-top: 3%;
}