.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.logo {
    width: 3rem;
    margin-bottom: 5%;
}

.background {
    width: 50%;
    /* height: 60em; */
    background-color: #D9D9D9;
    margin-top: 5%;
    border-radius: 2rem;
    margin-bottom: 10vh;
}

.subtitle {
    margin-top: 5%;
    margin-left: 5%;
}

.formInputs {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 5%;
    margin-left: 8%;
}

.inputContainer {
    width: 21.5rem;
    display: flex;
    flex-direction: column;
}

.input {
    width: 35rem;
    height: 2.5rem;
    background-color: #fff;
    border: 0px;
    border-radius: 0.5rem;
    margin-top: 2%;
}

.input::placeholder {
    padding: 2%;
}

.button {
    width: 17.5rem;
    height: 2.5rem;
    background-color: black;
    color: #fff;
    border-radius: 0.7rem;
    border: 0px;
    font-size: 1rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 49%;
}

.button:hover {
    background-color: #FCCD01;
    color: black;
    font-weight: bold;
}

.popup {
    position: fixed;
    display: flex;
    flex-direction: column;


    top: 5%;
    left: 40%;
    width: 20vw;
    height: 68.5vh;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px dashed var(--base-dark-line, #393C49);
    background: var(--base-dark-bg-2, #1F1D2B);
}

.foodCry {
    width: auto;
    height: auto;

}

.popup p {
    width: 100%;
    height: 20%;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: var(--base-light, #FFFFFF);
}

.popup button {
    width: 100%;
    height: 10vh;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Primary-Color, #FCCD01);
}