.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body{
  display: flex;
  flex-direction: column;
  margin: 5% 13% 0 0;
}

.title{
  font-size: 2rem;
}

.box{
  width: 50rem;
  height: 15rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
  margin: 5% 0 10% 0;
  background-image: url("../../../../shared/assets/foodHomeRestaurant.jpg");
  background-size: cover;
}

.boxes{
  display: flex;
  justify-content: space-between;
}

.boxSmall{
  width: 24rem;
  height: 10rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
}