.container {
    position: static;
    left: 0;
    bottom: 0;
    height: 20%;
    justify-content: space-between;
    align-items: center;
    background: rgb(51, 51, 51);
    color: white;
    display: grid;
    width: 100%;
    margin-top: 56px;
    grid-template-columns: 100%;
    row-gap: 16px;
    padding: 24px 0px;
    box-sizing: border-box;
    line-height: 1.15;
}

.content {
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
}

.conteudos {
    display: inline-flex;
    align-items: flex-start;
    gap: 60px;
    padding-left: 10vw
}

.conteudo {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title {
    font-family: Gilroy;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-left: 10vw;
    font-size: 16px;
}