.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #1A1A1A;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 15%
}
    .header > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

.logo {
    display: flex;
    align-items: center;
}

.title {
    padding-left: 10%;
    color: white;
}

.buttonLogin {
    border: rgb(255, 204, 0);
    outline: none;
    border-radius: 24px;
    font-size: 14px;
    padding: 12px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0px;
    height: 48px;
    color: rgb(34, 34, 34);
    background-color: rgb(255, 204, 0);
    font-weight: 700;
    width: 97px;
    cursor: pointer;
}

    .buttonLogin:hover {
        background-color: #FFDC00;
        color: #222;
        font-weight: bold;
    }
